@import "varible.css";
@import "reset.css";
@import "font.css";
@import "navbar.css";
@import "footer.css";
@import "index.css";
body {
    background-color: var(--bgcolor-color);
  }
.page-title{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 2rem 0;
}
.search-title{
  display: flex;
  align-items: center;
  color: var(--white-color);
  gap: .5rem;
  font-family: "Danabold";
  font-size: 1.5rem;
}
.page-title_name{

}
.page-coure_count{
  color: var(--gray-color);
  font-size: 1.2rem;
}

.right-side{
  
}
.search-wrapper{
  display: flex;
  gap: 1rem;
  flex-wrap: nowrap;
}
.input-item{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 1.5rem;
}
.search-input_wrapper{
  background-color: var(--dark-color);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  color: var(--white-color);
  border-radius: 1rem;
  padding: 1rem;
}
.search-input{
  background-color: var(--dark-color);
  border: none;
  outline: none;
  color: var(--white-color);
  height: 2rem;
  width: 100%;
}
.search-btn{
  background-color: var(--dark-color);
  border: none;
  outline: none;
}
.search-svg{
  width: 1.5rem;
  color: var(--gray-color);
}
.filter{
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 4rem;
  padding-right: 0;
  background-color: var(--dark-color);
  padding: 1rem;
  border-radius: 1rem;
}
.checkbox-btn{
  height: 1.5rem;
  width: 3rem !important; 
  background-color: var(--user-color);
}
.checkbox-title{
  color: var(--white-color);
}

.courses-item{
  margin: 0;
  width: 16rem;
}
.left-search_side{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .8rem;
  flex-wrap: wrap;
}
.not-found_page{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 3rem;
  border: .1rem dashed var(--gray-color);
  border-radius: 1rem;
}
.not-found_img{
  width: 15rem;
}
.not-found_text{
  color: var(--white-color);
  margin-top: 1rem;
  font-size: 1.5rem;
  font-family: "Danabold";
  text-align: center;
  line-height: 2rem;
}